apiVersion: v1
kind: Service
metadata:
  name: cdc-consumer
  namespace: apollo-demo
  labels:
    app: cdc-consumer
spec:
  type: NodePort
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30081
      protocol: TCP
      name: http
  selector:
    app: cdc-consumer
